.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 400px;
  margin-top: 1.2rem;
  color: #ffffff;
}

.label {
  font-size: 1rem;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}

.dropzone {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  cursor: pointer;
  transition: border-color 0.3s ease;
  border: 2px dashed rgba(255, 255, 255, 0.3);

  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }

  p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9rem;
  }
}

.previewWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 16px;
  backdrop-filter: blur(6px);
  border: 2px dashed rgba(255, 255, 255, 0.3);
}

.previewImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.changeButton,
.removeButton {
  padding: 8px 12px;
  font-size: 0.85rem;
  font-family: "MyFont", sans-serif;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    transform: translateY(1px);
  }
}

.hiddenInput {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.error {
  color: #ff6b6b;
  font-size: 12px;
  margin-top: 4px;
}

.infoWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.4);
}
.icon {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
}
